@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
        <p>The mission of Student Outreach Services (SOS) is to engage all segments of the Hendrix College student population by connecting with mentors, services, resources, programs, networks, interventions, and/or preventions to increase successful holistic and positive student experiences throughout their time in the Hendrix community. </p>
</div>
