@page
@model ResourceModel
@{
    ViewData["Title"] = "Resources";
}
<h1>@ViewData["Title"]</h1>
<h4>
    View our available resources here
</h4>
<style>
    .box{
        border: 1px solid black;
    }
</style>
<body>
    <div class = "box">
        <p>resources will be displayed here</p>
    </div>
</body>
